<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                To learn who God is, know him better, and recognize his voice
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                How do you get to know someone? When you meet someone new, you take in your first impression, listen to what they say, and watch what they do. Eventually, the real person will become known.

                We go through a similar process getting to know God. Of course, God can reveal himself in any way imaginable, at any time and to anyone. But if we have his Word, then he expects us to read it and to know him through it. As we read his Word and observe his actions, we get to know who he is.

                When I began to take discipleship seriously, I had an insatiable desire to read the Bible. I couldn’t get enough of it, and still can’t. I found it intellectually stimulating and fascinating. That is still true, but more importantly, I find that I’m more interested in who God is. I can’t get enough of him. I’m learning that he is infinitely loving, merciful, gracious, in control, and powerful. I know that even when I face trouble he is with me, and the result will be for my good and his glory.

                His voice is not harsh or pushy, and I am learning to discern the difference between the enduring voice of God and the momentary messages of the world.

                Jesus said, right before he was arrested, “Now this is eternal life: that they know you, the only true God, and Jesus Christ, whom you have sent” (John 17:3). And Paul wrote,

                I keep asking that the God of our Lord Jesus Christ, the glorious Father, may give you the Spirit of wisdom and revelation, so that you may know him better. (Ephesians 1:17, emphasis mine)
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                To gain wisdom, learn what’s right, correct wrong thinking, and receive guidance
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                It’s tough to figure out what is right and wrong in this world, isn’t it? Cultural understandings, other people’s views, and our own biases make it very difficult to know with certainty how to handle the questions and problems life brings us. Even with the immovable truth of the Bible, it’s not easy.

                For certain questions, Bible study is more complicated than settling on a verse or two and figuring that you’ve got your answer. Often there are other passages that present a different perspective, and you must take it all in while asking for wisdom and depending on the guidance of the Holy Spirit. There are a few issues that I’m still struggling over, but the Bible is my guide. Not my feelings; not my friends; not the news media—God’s Word.

                The more we study the Bible, the more we realize that it is not an outdated and irrelevant book, but the living Word of God.

                For the word of God is alive and active. Sharper than any double-edged sword, it penetrates even to dividing soul and spirit, joints and marrow; it judges the thoughts and attitudes of the heart. (Hebrews 4:12)

                All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work. (1 Timothy 3:16-17)
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                To see and follow Jesus
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                My goal in life is to follow Jesus well. It doesn’t matter if we live in the United States, China, Brazil, or a crowded refugee camp; if we live a comfortable and prosperous life; or if we must scrape together every meal. If we follow Jesus well, we will have lived a successful life.

                Jesus knew the Scriptures that were available to him, and he followed his Father flawlessly. He was not influenced by the Jewish elite of his time, the Pharisees; in fact, he often opposed them. He healed and delivered many people who came to him, and he taught with matchless authority. He was perfectly loving, yet he did not overlook sin, but took it upon himself at the cross.

                We can’t follow someone we do not know, and we get to know Jesus by reading our Bibles. I’ve heard it said that Jesus can be found on every page of our Bibles. Pastor Colin Smith says,

                The whole Bible is his story: It begins in a garden, it ends in a city, and all the way through, it is about Jesus Christ.

                In fact, John said in the opening words of his Gospel, speaking of Jesus, “In the beginning was the Word and the Word was with God, and the Word was God.” Jesus is the Word of God, and the Word of God is all about Jesus. From Genesis to Revelation, God’s Word points to Jesus. He is the One we need, and his Word is the way we follow him.
            </div>
        </div>
    </div>
</div>

</body>
</html>
